.column {
    float: left;
    width: 50%;
    height: 100vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    padding: 5%;
    max-width:90%;
    max-height:90%;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

body {
    background-color: lightgray;
}